<AuthorizeView>
    <Authorized>
        <MMenu OffsetX Left OffsetY>
            <ActivatorContent Context="menuContext">
                <span> @context.User.Identity?.Name</span>
                <MButton Icon Large @attributes="menuContext.Attrs"><MIcon>mdi-account-circle-outline</MIcon></MButton>
            </ActivatorContent>
            <ChildContent>
                <MList Dense>
                    <MListItem Link Href="/pages/authentication/LoginOut">
                        <MListItemIcon>
                            <MIcon>mdi-exit-to-app</MIcon>
                        </MListItemIcon>
                        <MListItemContent>
                            <MListItemTitle>
                               注销
                            </MListItemTitle>
                        </MListItemContent>
                    </MListItem>
                </MList>
            </ChildContent>
        </MMenu>
    </Authorized>
</AuthorizeView>

