<MCard Width=510 Height=680 Class="mx-auto my-auto">
    <div style="height:60px;"></div>
    <div class="mt-2 mx-auto text-center" style="width:420px;">
        <MAvatar Size=80>
            <MImage Src="/img/avatar/1.svg">
            </MImage>
        </MAvatar>
        <h5 class="mt-2 mb-12">汽车衡无人值守系统 </h5>

        <MTextField TValue="string" Label="账户" Placeholder="请输入账号" Outlined HideDetails="@("auto")">
        </MTextField>
        <MTextField TValue="string" Class="mt-10" Label="密码" Type="@(_show ? "text" : "password")"
            Placeholder="请输入密码"  AppendIcon="@(_show ? "mdi-eye" : "mdi-eye-off")"
            OnAppendClick="()=>_show = !_show" Outlined HideDetails="@("auto")">
        </MTextField>
        
        <MButton Class="mt-11 rounded-4 text-btn white--text" OnClick=OnLogin Height=46 Width=340 Color="primary">登陆
        </MButton>
    </div>
</MCard>

